

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>企业制度信息</title>
    <link rel="stylesheet" href="~/Content/themes/showview/Site.css" type="text/css" />
    <style>
        .label
        {
            width: 40%;
        }
        .post
        {
            width: 100%;
            float: left;
            clear: both;
            border-bottom: 1px #1a2246 dotted;
        }
        .valuetxt
        {
            text-align: left;
        }
        input
        {
            width: 100%;
        }
    </style>
</head>
<body>
    <div>
        <div class="div100 title yellow" style="text-align:center">
            @* <a href="javascript:" style="float:left"  onclick="javascript:history.go(-1);"> <span class="btnReturn"> 返回1 </span></a>*@

            <a href="javascript:" style="float:left"  onclick="javascript:$('#divLoadPage').modal('hide');">
                 <span class="btnReturn"> 返回 </span>
            </a>
            企业制度信息
        </div>

        <form>
            <div id="ltdregular">
                <div class="post">
                    <div class="div100 yellow">所属地块编码:</div>
                    <div class="div100">
                        <input name="SSDKBM" v-model="item_reg.SSDKBM"   class="vieworedit"/></div>
                </div>
                <div class="post">
                    <div class="div100 yellow">所属企业编码:</div>
                    <div class="div100">
                        <input name="SSQYBM" v-model="item_reg.SSQYBM"   class="vieworedit"/></div>
                </div>
                <div class="post">
                    <div class="div100 yellow">安全制度:</div>
                    <div class="div100">
                        <input name="AQZD" v-model="item_reg.AQZD" style="width: 90%"   class="vieworedit" />㎡</div>
                </div>
                <div class="post">
                    <div class="div100 yellow">消防制度:</div>
                    <div class="div100">
                        <input name="XFZD" v-model="item_reg.XFZD" style="width: 90%"   class="vieworedit"/>㎡</div>
                </div>
                <div class="post">
                    <div class="div100 yellow">财务制度:</div>
                    <div class="div100">
                        <input name="CWZD" v-model="item_reg.CWZD" style="width: 90%"   class="vieworedit"/>㎡</div>
                </div>
                <div class="post">
                    <div class="div100 yellow">上报年度:</div>
                    <div class="div100">
                        <input name="SBND" v-model="item_reg.SBND"   class="vieworedit"/></div>
                </div>
                
                <div class="post">
                    <div class="div100 yellow">上报日期:</div>
                    <div class="div100">
                        <input name="SBRQ" v-model="item_reg.SBRQ"  disabled="disabled"/></div>
                </div>
                <div class="post">
                    <div class="div100 yellow">安全照片点编码:</div>
                    <div class="div100">
                        <input name="AQZPDBM" v-model="item_reg.AQZPDBM"   disabled="disabled"/></div>
                </div>
                @*<div style="text-align: center; margin-top: 5px; clear: both;">
                              <input id="postChange" style="width:25%;color:black" type="button" onclick="ViewToEdit($('#postChange').val())" value="编辑"/>
                                <input id="btnSubmit" style="width:25%;display: none;color:black" type="button" onclick="vm.save()" value="保存"/>
       

                </div>*@
   
            </div>
        </form>
    </div>
    <script type="text/javascript" src="~/Content/themes/showview/vue.js"></script>
    <script type="text/javascript" src="~/Content/themes/showview/zepto.min.js"></script>
       <script tyep="text.javascript"  src="~/Scripts/QyTech.js"></script>
 
    <script>
        Id = "@ViewBag.Id";
        
      

        var vm_regular = new Vue({
            el: '#ltdregular',
            data: {
                item_reg: [],
            },
            methods: {
                Getdata: function () {
                    $.post('../EditView/GetLtdRegularInfo', { id: Id }, function (data) {
                        console.log(data);
                        if (data != null) {
                            vm.item = data;
                        } else {
                            alert("暂无数据！");
                        }
                    });
                }
            },
        });
        vm_regular.Getdata();


    </script>
</body>
</html>
