<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>批次供地</title>
    <link rel="stylesheet" href="~/Content/themes/showview/Site.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/showview.js"></script>
</head>
<body>
    <div>
        <div class="div100 title"><a href="javascript:" style="float:left"  onclick="javascript:history.go(-1);"> <span class="btnReturn"> 返回 </span></a>批次查询结果</div>
        <div class="div100" style="text-align:left">批准建设工业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">批准建设商业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">批准建设经营性住宅用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">批准建设交通用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">批准建设医疗用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">批准建设行政事业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">批准建设公共设施用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>      
        <div class="div100 title">供地查询结果</div>
        <div class="div100" style="text-align:left">已供工业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">已供商业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">已供经营性住宅用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">已供交通用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">已供医疗用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">已供行政事业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">已供公共设施用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>      
    </div>
</body>
</html>
