@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>土地规划</title>
    <link rel="stylesheet" href="~/Content/themes/showview/Site.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/showview.js"></script>
</head>
<body>
    <div>
        <div class="div100 title"><a href="javascript:" style="float:left"  onclick="javascript:history.go(-1);"> <span class="btnReturn"> 返回 </span></a>土地规划查询结果</div>
        <div class="div100" style="text-align:left">工业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">商业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">经营性住宅用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">交通用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">医疗用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">行政事业用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>
        <br /><br />
        <div class="div100" style="text-align:left">公共设施用地:</div>
        <div class="div25" >数量    0个</div><div class="div75" >面积0.00㎡（0.00 亩）</div>        
    </div>
</body>
</html>
