@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>城市规划</title>
    <link rel="stylesheet" href="~/Content/themes/showview/Site.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/showview.js"></script>
</head>
<body>
    <div>
<form id="login" name="login" method ="post"  action="ResultView">  
  
        <p>QueryType：<input id="QueryType" name="QueryType" type="text"  value="工业管理区"/></p>
        <p>Ids：<input id="Ids" name="Ids" type="text" /></p>
        <p>CountArea：<input id="CountArea" name="CountArea" type="text" /></p>
        <textarea name="Json" cols="30" rows="4">{"Data":[{"ItemName":"农用地","RegionArea":"413573.8616382316","RegionCount":26,"TotalType":"土地现状2"},{"ItemName":"交通用地","RegionArea":"187654.911480668","RegionCount":11,"TotalType":"土地现状2"},{"ItemName":"工业","RegionArea":"625320.3078171005","RegionCount":94,"TotalType":"土地现状1"},{"RegionArea":"946021.947462492","RegionCount":40,"TotalType":"土地规划"},{"ItemName":"农用地","RegionArea":"413573.8616382316","RegionCount":26,"TotalType":"土地规划"},{"ItemName":"工业","RegionArea":"625320.3078171005","RegionCount":94,"TotalType":"土地规划"},{"ItemName":"农田","RegionArea":"5340492.679345595","RegionCount":7,"TotalType":"土地规划"},{"ItemName":"交通用地","RegionArea":"187654.911480668","RegionCount":11,"TotalType":"土地规划"},{"ItemName":"公共设施用地","RegionArea":"2564286.3572928705","RegionCount":32,"TotalType":"土地规划"},{"RegionArea":"946021.947462492","RegionCount":40,"TotalType":"城市规划"},{"ItemName":"10E1水域","RegionArea":"81714.82651543512","RegionCount":15,"TotalType":"城市规划"},{"ItemName":"工业","RegionArea":"625320.3078171005","RegionCount":94,"TotalType":"城市规划"},{"ItemName":"04M工业","RegionArea":"146244.7884016245","RegionCount":2,"TotalType":"城市规划"},{"ItemName":"03B41加油加气站","RegionArea":"3492.0231905243677","RegionCount":1,"TotalType":"城市规划"},{"ItemName":"11Ef生态防护绿地","RegionArea":"162960.41421500777","RegionCount":18,"TotalType":"城市规划"},{"ItemName":"农田","RegionArea":"5340492.679345595","RegionCount":7,"TotalType":"城市规划"},{"ItemName":"交通用地","RegionArea":"187654.911480668","RegionCount":11,"TotalType":"城市规划"},{"ItemName":"09H14村庄","RegionArea":"134156.90930638986","RegionCount":5,"TotalType":"城市规划"},{"ItemName":"农用地","RegionArea":"413573.8616382316","RegionCount":26,"TotalType":"城市规划"},{"ItemName":"07U22环卫","RegionArea":"36891.86662107121","RegionCount":1,"TotalType":"城市规划"},{"ItemName":"Ef-外","RegionArea":"9238.311709134627","RegionCount":5,"TotalType":"城市规划"},{"ItemName":"E水域-外","RegionArea":"6157.880131098365","RegionCount":5,"TotalType":"城市规划"},{"ItemName":"10E2农林用地","RegionArea":"1099235.4788879806","RegionCount":22,"TotalType":"城市规划"},{"ItemName":"公共设施用地","RegionArea":"2564286.3572928705","RegionCount":32,"TotalType":"城市规划"},{"FloorArea":"建筑材料再生再生资源利用BOT项目","ItemName":"2013年建筑材料再生再生资源利用BOT项目苏政地[2013]565号","RegionArea":"2013年","RegionCount":0,"TotalType":"批次明细"},{"FloorArea":"批准项目名称","ItemName":"2012年第3批次苏政地[2012]610号","RegionArea":"2012年","RegionCount":0,"TotalType":"批次明细"},{"FloorArea":"批准项目名称","ItemName":"2005年第6批次","RegionArea":"2005年","RegionCount":0,"TotalType":"批次明细"},{"ItemName":"批次","RegionArea":"111645.98324601716","RegionCount":3,"TotalType":"历年批次"}],"LayerName":"工业管理区","LayerObjCode":"320507100208GLQ0001","extCodes2":"320507100208PC012,320507100208PC013,320507100208PC014","extCodes1":"320507100208QY0044f001,320507100208QY0044f002,320507100208QY0047f001,320507100208QY0047f002,320507100208QY0047f003,320507100208QY0047f004,320507100208QY0047f005,320507100208QY0047f006,320507100208QY0047f007,320507100208QY0047f008,320507100208QY0047f009,320507100208QY0047f010,320507100208QY0047f011,320507100208QY0047f012,320507100208QY0047f013,320507100208QY0047f014,320507100208QY0047f015,320507100208QY0047f016,320507100208QY0047f017,320507100208QY0047f018,320507100208QY0047f019,320507100208QY0047f020,320507100208QY0047f021,320507100208QY0047f022,320507100208QY0047f023,320507100208QY0047f024,320507100208QY0047f025,320507100208QY0047f026,320507100208QY0047f027,320507100208QY0047f028,320507100208QY0047f029,320507100208QY0047f030,320507100208QY0047f031,320507100208QY0047f032,320507100208QY0047f033,320507100208QY0047f034,320507100208QY0047f035,32050710"}</textarea>
        <p><input id="subLogin"  name ="subLogin" type="submit" value="提交" /></p>
          
</form>  
    </div>
</body>
</html>
