<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
  
    <!--<add name ="sdeServer" connectionString="Server=idea-pc;Instance=port:5151;User=sde;Password=sde;Database=TD_Spatial;version=sde.default;"/>-->
    <add name="QyTech_AuthEntities" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.114.190.250,2433\SqlExpress;initial catalog=QyTech_Auth;user id=sa;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="sdeServer" connectionString="Server=122.114.190.250;Instance=port:5151;User=sde;Password=sde1Mana;Database=TD_Spatial;version=sde.default;"/>
    <add name="wj_GisDbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.114.190.250,2433\sqlexpress;initial catalog=wj_GisDb;user id=sde;password=sde1Mana;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="sdeServer" connectionString="Server=122.114.190.250;Instance=port:5150;User=sde;Password=sde1Mana;Database=TdDemo_Spatial;version=sde.default;"/>
    <add name="WSExpressEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.114.190.250,2433\SqlExpress;initial catalog=TdDemo_Spatial;user id=sde;password=sde1Mana;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    
    
    <add name="arcgisServer" connectionString="http://122.114.190.250:6080/arcgis/services;WTMap/WTService"/>
    <add name="MapServer" connectionString="http://122.114.190.250:6080/arcgis/services;WTMap/TD_SpatialServer"/>
    <!--<add name="arcgisServer" connectionString="http://122.114.190.250:80/arcgis/services;WTMap/SLService"/>
    <add name="MapServer" connectionString="http://122.114.190.250:80/arcgis/services;WTMap/TdDemo_SpatialServer"/>-->


  </connectionStrings>
  <appSettings>
    <add key="log4net" value="log4net.config"/>
    <add key="IsWriteLog" value="1"/>
  </appSettings>
</configuration>
